/* Type selector: body, h1, div & p
    Id selector: #blog
    Class selector: .blog posts
    attribute selector: a[title]{}
*/

/*Gives title sticky*/
h1{
  background: rgb(255, 255, 255);
  position: sticky;
  top: 0px;
  }

  /*Putting the articles inline*/
  main{
    display: flex;
  }

/* Buttons Decorations*/
#Bell{
    text-align: center; /*Centers your text*/
    background-color: #B9E1FF;/*Changes button background*/
    color: #000;
    padding: 10px;
    text-decoration: none; /*Specifies the decoration added to text*/
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

#Cough{
    text-align: center; /*Centers your text*/
    background-color: #B9E1FF;/*Changes button background*/
    color: #000;
    padding: 10px;
    text-decoration: none; /*Specifies the decoration added to text*/
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}


#Thunder{ 
    text-align: center; /*Centers your text*/
    background-color: #B9E1FF;/*Changes button background*/
    color: #000;
    padding: 10px;
    text-decoration: none; /*Specifies the decoration added to text*/
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

/* Changing each articles size display  */
.Bsound{
  flex: 3;
}

.Csound{
  flex: 3;
}

.Tsound{
  flex: 3;
}

   


