/* Type selector: body, h1, div & p
    Id selector: #blog
    Class selector: .blog posts
    attribute selector: a[title]{}
*/

/* Buttons Decorations*/
#Bell{
    text-align: center; /*Centers your text*/
    background-color: #B9E1FF;/*Changes button background*/
    color: #000;
    padding: 10px;
    text-decoration: none; /*Specifies the decoration added to text*/
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

#Cough{
    text-align: center; /*Centers your text*/
    background-color: #B9E1FF;/*Changes button background*/
    color: #000;
    padding: 10px;
    text-decoration: none; /*Specifies the decoration added to text*/
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}


#Thunder{ 
    text-align: center; /*Centers your text*/
    background-color: #B9E1FF;/*Changes button background*/
    color: #000;
    padding: 10px;
    text-decoration: none; /*Specifies the decoration added to text*/
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

/*Putting images inline*/
.row {
  display: flex;
  margin: 0;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

.Sound{
  width: 20;
  margin-left: 200px;
}

   


