/* Type selector: body, h1, div & p
    Id selector: #blog
    Class selector: .blog posts
    attribute selector: a[title]{}
*/


/*Sound buttons*/
#Bell{
    margin-top: 24px;  /*Centers your website design on the page*/
    text-align: center; /*Centers your text*/
    background-color: #B9E1FF;/*Changes button background*/
    color: #000;
    padding: 10px;
    text-decoration: none; /*Specifies the decoration added to text*/
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
}

#Cough{
    margin-top: 24px; 
    text-align: center; 
    margin: 0 auto; /*Centers your website design on the page*/
    text-align: center; /*Centers your text*/
    background-color: #B9E1FF;/*Changes button background*/
    color: #000;
    padding: 10px;
    text-decoration: none; /*Specifies the decoration added to text*/
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
}


#Thunder{
    margin-top: 24px; 
    text-align: center; 
    margin: 0 auto; /*Centers your website design on the page*/
    text-align: center; /*Centers your text*/
    background-color: #B9E1FF;/*Changes button background*/
    color: #000;
    padding: 10px;
    text-decoration: none; /*Specifies the decoration added to text*/
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
}






   


